*{
  box-sizing: border-box;
}

body{
  background-color: grey;
}

.hiddenButton{
  display: none;
}

.eachRecordContainer{
  height: auto;
  margin: 0;
  width: 396px;
}

.buttonLockArea{
  display: inline-block;
  height: 40px;
  margin-right: 1%;
  width: 100%;
}

.buttonLockArea_hidden{
  display: none;
}

.buttonLockArea_locked{
  display: inline-block;
  height: 40px;
  margin-left: 11%;
  margin-right: 1%;
  width: 100%;
}

.lockButtonOpen{
  background-color: springgreen;
  border: solid 2px;
  border-radius: 5px;
  height: 40px;
  margin-left: 5%;
  margin-top: 2%;
  width: 60px;
}

.lockButtonClosed{
  background-color: rosybrown;
  border: solid 2px;
  border-radius: 5px;
  height: 40px;
  margin-left: 5%;
  margin-top: 2%;
  width: 60px;
}

.dailyTransPageBox{
  display: inline-block;
  height: auto;
  margin-left: 30%;
  width: 420px;
}

.progressBarAreaBottom{
    background-color: white;
    border: solid 2px;
    display: inline-flex;
    height: 21px;
    margin: 0;
    width: 100%;
}

.progressBarAreaBottom_hidden{
  display: none;
}

.progressBarGrey_hidden{
  display: none;
}

.progressBarGrey{
  background-color: lightgrey;
  display: inline-block;
  font-size: 12px;
  font-weight: bolder;
  height: 17px;
  margin: 0;
  text-align: left;
  padding-left: 2px;
  width: 1%;
}

.progressBarGreen{
    background-color: lightgreen;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    height: 17px;
    margin: 0;
    text-align: left;
    padding-left: 2px;
    width: 1%;
}

.progressBarRed{
  background-color: red;
  display: inline-block;
  height: 17px;
  margin: 0;
  width: 1%;
}

.progressBarLabel{
  background-color: black;
  color: lightgreen;
  display: inline-flex;
  font-size: 12px;
  height: 21px;
  margin: 0;
  padding-left: 10%;
  text-align: center;
  width: 100%;
}

.progressBarLabel_hidden{
  display: none;
}

.lockLogo{
  margin-left: 0%;
margin-top: 50%;
}

.lockLogo_hidden{
  display: none;
}

.dailyTransPageSection{
  background-color: silver;
  border: blue solid 4px;
  display: inline-block;
  float: right;
  height: auto;
  margin-left: 0px;
  padding-bottom: 20px;
  vertical-align: top;
  width: 420px;
}

.dailyTransPageSection_hidden{
  display: none;
}

.loginPage{
  background-image: url("wallpaper.jpg");
  height: 700px;
  width: 100%;
}

.loginTitleSection{
  background-color: lightgrey;
  border: black solid 2px;
  display: inline-block;
  height: 100px;
  margin-left: 28%;
  margin-top: 10%;
  width: 525px;
}

.loginImage{
  display: inline-block;
  height: 95px;
  margin: 0;
  width: 100px;
}

.titleLogin{
  color: green;
  display: inline-block;
  font-size: 55px;
  height: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: top;
  width: 50%;
}

.loginButtonsSection{
  background-color: lightgrey;
  border: black solid 2px;
  display: inline-block;
  height: auto;
  padding-bottom: 5px;
  margin-left: 28%;
  width: 525px;
}

.loginLabel{
  font-size: 15px;
  margin-left: 2%;
  margin-right: 2%;
}

.userNameInput{
  font-size: 14px;
  height: 40px;
  margin-left: 12%;
  width: 200px;
}

.passwordInput{
  font-size: 14px;
  height: 40px;
  width: 200px;
}

.newUser{
  background-color: lightblue;
  display: inline-block;
  font-size: 17px;
  font-weight: bolder;
  height: 40px;
  margin-left: 2%;
  margin-top: 20px;
  width: 160px;
}

.loginUser{
  background-color: lightgreen;
  display: inline-block;
  font-size: 17px;
  font-weight: bolder;
  height: 40px;
  margin-left: 2%;
  margin-top: 20px;
  width: 160px;
}

.googleUser{
  background-color: darkseagreen;
  display: inline-block;
  font-size: 17px;
  font-weight: bolder;
  height: 40px;
  margin-left: 2%;
  margin-top: 20px;
  width: 160px;
}

.dailyTransButton{
  background-color: silver;
  border: blue solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  float: left;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-left: 12%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 300px;
}

.transactionTitleArea{
  height: 100px;
  margin-left: 2%;
  margin-bottom: 1%;
  width: 401px;
}

.transactionsTitle{
  background-color: lightcyan;
  border: solid 2px;
  color: green;
  font-size: 45px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 4px;
  text-align: center;
  width: 397px;
}

.userTransName{
  background-color: lightcyan;
  border: black solid 2px;
  display: inline-block;
  font-size: 18px;
  height: 25px;
  margin: 0;
  padding-bottom:  10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 397px;
  white-space: pre;
}

.hiddenTrans{
  display: inline-block;
  margin: 0;
  height: 0;
  display: none;
  width: 0;
}

.newList{
  height: auto;
  padding-left: inherit;
  padding-right: 0;
  margin: 0;
  width: 395px;
}

.transDate{
  background: tan;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 11px;
  font-weight: bolder;
  height: 19px;
  margin: 0px;
  margin-left: 6px;
  overflow: auto;
  padding-left: 5px;
  padding-top: 2px;
  width: 65px;
}

.transDateSelected{
  background-color: yellow;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 11px;
  font-weight: bolder;
  height: 19px;
  margin: 0px;
  margin-left: 6px;
  overflow: auto;
  padding-left: 5px;
  padding-top: 2px;
  width: 65px;
}

.transAmount{
  background: lavender;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 15px;
  height: 19px;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  text-align: center;
  width: 50px;
}

.transDesc{
  background: lavender;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 15px;
  height: 19px;
  margin: 0px;
  margin-left: 4px;
  overflow:auto;
  padding-left: 8px;
  width: 270px;
}

.addTransBox{
  display: inline-flex;
  height: 40px;
  width: 430px;
}

.amountItem{
  border: solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin: 0;
  margin-bottom: 10px;
  width: 115px;
}

.descriptionItem{
  border: solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin: 0;
  width: 240px;
}

.transSubmit{
  background-color: lightgrey;
  border: solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding-top: 0px;
  width: 58px;
}

.transOptionsArea{
  height: 150px;
  margin-top: 20px;
  width: 420px;
}

.monthlyBudgetButton{
    background-color: lightcyan;
    border: green solid 2px;
    border-radius: 6px;
    color: black;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 12%;
    margin-top: 5px;
    padding-top: 0px;
    text-align: center;
    width: 300px;
}

.importButton{
    background-color: yellow;
    border: black solid 2px;
    border-radius: 6px;
    color: black;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 12%;
    margin-top: 5px;
    padding-top: 0px;
    text-align: center;
    width: 300px;
}

.showLast5Trans{
  background-color: lightcyan;
  border: blue solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-left: 12%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 300px;
}

.lockScreen{
  background-color: lightpink;
  border: solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-left: 12%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 146px;
}

.signOut{
  background-color: lightgrey;
  border: solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-left: 2%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 145px;
}

.monthlyBoxCenter{
  background-color: skyblue;
  border: green solid 4px;
  display: inline-block;
  height: auto;
  margin-left: 30%;
  width: 402px;
}

.monthlyBoxLeft{
  background-color: skyblue;
  border: green solid 4px;
  display: inline-block;
  height: auto;
  margin-left: 5%;
  width: 402px;
}

.monthlyTitleArea{
  height: 100px;
  margin: 0;
  margin-left: 5%;
  margin-right: 0%;
  width: 360px;
}

.monthlyTitle{
  background-color: lightcyan;
  border: solid 2px;
  color: green;
  font-size: 45px;
  font-weight: bolder;
  opacity: 0.8;
  margin-bottom: 0px;
  margin-right: 0;
  margin-top: 20px;
  padding: 4px;
  text-align: center;
  width: 350px;
}

.userMonthlyName{
  background-color: lightcyan;
  border: black solid 2px;
  display: inline-block;
  font-size: 18px;
  height: 25px;
  margin: 0;
  padding-bottom:  10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 350px;
  white-space: pre;
}

.monthlyIncomeArea{
  display: inline-flex;
  height: 35px;
  margin: 0;
  margin-left: 20%;
  width: 250px;
}

.monthlyIncomeLink{
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.monthlyIncomeLabel{
    background-color: palegreen;
    border: solid 2px;
    display: inline;
    font-size: 18px;
    height: 30px;
    margin: 0;
    margin-top: 0px;
    padding: 4px;
    padding-left: 8px;
    width: 140px;
}

.monthlyIncomeInput{
    background-color: white;
    border: black solid 2px;
    color: black;
    font-size: 18px;
    height: 30px;
    margin: 0px;
    margin-top: 0px;
    padding-top: 4px;
    text-align: center;
    width: 102px;
  }

.monthyBillsRecordsArea{
  height: auto;
  padding-left: inherit;
  margin: 0;
  margin-left: 0;
  width: 400px;
}

.monthlyColumnTitles{
  border: solid 2px;
  font-size: 20px;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  white-space: pre;
  width: 390px;
}


.monthlyColumnTitleSelect{
  font-size: 12px;
  padding-left: 10px;
  white-space: pre;
}

.monthlyColumnTitleDescription{
  font-size: 12px;
  padding-left: 30px;
  white-space: pre;
}

.monthlyColumnTitlePlanned{
  font-size: 12px;
  margin: 0;
  padding-left: 130px;
  white-space: pre;
}

.monthlyColumnTitleActual{
  font-size: 12px;
  white-space: pre;
}

.monthlyInputsArea{
  display: inline-flex;
  height: 41px;
  margin-top: 10px;
  width: 396px;
}

.enterMonthlyBill{
  border: solid 2px;
  border-radius: 6px;
  font-size: 18px;
  height: 40px;
  width: 248px;
}

.enterMonthlyPlannedAmount{
  border: solid 2px;
  border-radius: 6px;
  font-size: 17px;
  height: 40px;
  width: 81px;
}

.monthlyAddItemButton{
  background-color: lightgrey;
  border: solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width: 66px;
}

.monthlyType{
  background-color: tan;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  height: 19px;
  margin: 0px;
  margin-left: 3px;
  overflow: auto;
  text-align: center;
  width: 70px;
}

.monthlyTypeSelected{
  background-color: yellow;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  height: 19px;
  margin: 0px;
  margin-left: 3px;
  overflow: auto;
  text-align: center;
  width: 70px;
}

.monthlyBillDesc{
  background: lavender;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 15px;
  height: 19px;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  width: 219px;
}

.monthlyBillPlan{
  background: lavender;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 15px;
  height: 19px;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  text-align: center;
  width: 50px;
}

.monthlyBillActual{
  background: lavender;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 15px;
  height: 19px;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  text-align: center;
  width: 50px;
}

.monthlyBillActualRed{
  background: indianred;
  border: solid black 1px;
  color: black;
  display: inline-block;
  font-size: 15px;
  height: auto;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  text-align: center;
  width: 50px;
}

.monthlyTotalBox{
  background-color: lightgrey;
  display: inline-flex;
  height: 23px;
  width: 394px;
  white-space: pre;
}

.monthlyTotalLabel{
  border: solid 1px;
  display: inline-block;
  height: 23px;
  margin: 0;
  padding-top: 4px;
  width: 292px;
}

.monthlyPlannedTotal{
  background-color: palegreen;
  border: solid 1px;
  display: inline-block;
  height: 23px;
  margin: 0;
  text-align: center;
  padding-top: 4px;
  width: 51px;
}

.monthlyPlannedTotal_red{
  background-color: lightcoral;
  border: solid 1px;
  display: inline-block;
  height: 23px;
  margin: 0;
  padding-top: 4px;
  text-align: center;
  width: 51px;
}

.monthlyActualTotal{
  background-color: palegreen;
  border: solid 1px;
  display: inline-block;
  height: 23px;
  margin: 0;
  padding-top: 4px;
  text-align: center;
  width: 51px;
}

.monthlyActualTotal_red{
  background-color: lightcoral;
  border: solid 1px;
  display: inline-block;
  height: 23px;
  margin: 0;
  padding-top: 4px;
  text-align: center;
  width: 51px;
}

.monthlyAlertBox{
  display: block;
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 394px;
}

.monthlyAlertBox_hidden{
  display: none;
}

.monthlyPlannedTotalAlert{
  border-bottom: solid 1px;
  background-color: lightcoral;
  display: inline-block;
  height: 20px;
  margin: 0;
  width: 394px;
  white-space: pre;
}

.monthlyPlannedTotalAlert_hidden{
  display: none;
}

.monthlyActualTotalAlert{
  border-bottom: solid 1px;
  background-color: lightcoral;
  display: inline-block;
  height: 20px;
  margin: 0;
  width: 394px;
  white-space: pre;
}

.monthlyActualTotalAlert_hidden{
  display: none;
}

.monthlyOptionsArea{
  height: auto;
  margin: 0;
  width: 390px;
}


.showDailyTransPage{
  background-color: silver;
  border: solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-left: 12%;
  margin-top: 10px;
  width: 300px;
}

.selectTransactions{
  background-color: silver;
  border: black solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-left: 12%;
  margin-top: 10px;
  width: 300px;
}

.hideDailyTransPage{
  background-color: silver;
  border: solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-left: 12%;
  margin-top: 10px;
  width: 300px;
}

.hideDailyTransPage_hidden{
  display: none;
}

.showDailyTransPage_hidden{
  display: none;
}

.monthlyDailyTransBox_hidden{
    display: none;
}

.monthlyDailyTransBox{
  display: inline-block;
  height: auto;
  margin: 0;
  margin-left: 3px;
  padding-bottom: 10px;
  vertical-align: top;
  width: 420px;
}

.monthlyDailyTransBoxInner{
  background-color: silver;
  border: blue solid 4px;
  display: inline-block;
  height: auto;
  margin: 0;
  padding-bottom: 10px;
  vertical-align: top;
  width: 420px;
}

.monthlySignOut{
  background-color: lightgrey;
  border: solid 2px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  float: left;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-left: 12%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 300px;
}

.helpContainer{
  height: 17px;
  margin-bottom: 2px;
  margin-right: 0;
  margin-top: 10px;
  text-align: center;
  width: 98%;
}

.helpButton{
  background: thistle;
  border: solid 1px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bolder;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 3px;
  text-align: center;
  width: 50px;
}

.helpButtonMonthly{
  background: thistle;
  border: solid 1px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bolder;
  height: 15px;
  margin-left: 45%;
  padding-top: 0px;
  padding-bottom: 3px;
  vertical-align: middle;
  width: 50px;
}

.marketBox{
  border: solid 2px;
  height: 300px;
  margin-left: 3%;
  margin-top: 100px;
  padding: 0;
  width: 300px;
}

@media only screen and (max-width: 1000px){

  .loginTitleSection{
    /*background-color: lightgrey;*/
    /*border: black solid 2px;*/
    display: inline-block;
    height: 6.5em;
    margin-left: 8%;
    margin-top: 10%;
    width: 50em;
  }

.loginPage{
  /*background-image: url("wallpaper.jpg");*/
  height: 1170px;
  width: 100%;
}

.loginImage{
  display: inline-block;
  height: 6.2em;
  margin: 0;
  width: 6em;
}

  .titleLogin{
    color: green;
    display: inline-block;
    font-size: 5em;
    /*height: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: top;*/
    width: 6.78em;
  }

  .loginButtonsSection{
    background-color: lightgrey;
    border: black solid 2px;
    display: inline-block;
    height: auto;
    padding-bottom: 5px;
    margin-left: 8%;
    width: 50em;
  }

  .loginLabel{
    font-size: 3em;
    margin-left: 2%;
    margin-right: 2%;
  }

  .userNameInput{
    font-size: 3em;
    height: auto;
    margin: 0;
    margin-left: 1.5em;
    width: 7em;
  }

  .passwordInput{
    font-size: 3em;
    height: auto;
    margin: 0;
    margin-left: 1em;
    width: 6em;
  }

  .newUser{
    /*background-color: lightblue;*/
    display: inline-block;
    font-size: 2em;
    /*font-weight: bolder;*/
    height: auto;
    margin-left: 3em;
    margin-top: 1em;
    width: 5em;
  }

  .loginUser{
    display: inline-block;
    font-size: 2em;
    height: auto;
    margin-top: 1em;
    width: 5em;
  }

  .googleUser{
    display: inline-block;
    font-size: 2em;
    height: auto;
    margin-top: 1em;
    width: 7em;
  }

  .monthlyTitle{
    background-color: lightcyan;
    border: solid 2px;
    color: green;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0.8;
    margin-bottom: 0px;
    margin-right: 0;
    margin-top: 20px;
    padding: 4px;
    text-align: center;
    width: 350px;
  }

  .monthlyIncomeLabel{
      background-color: palegreen;
      border: solid 2px;
      display: inline;
      font-size: 14px;
      height: 30px;
      margin: 0;
      margin-top: 0px;
      padding: 4px;
      padding-left: 8px;
      width: 140px;
  }

  .transactionsTitle{
    background-color: lightcyan;
    border: solid 2px;
    color: green;
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 4px;
    text-align: center;
    width: 397px;
  }

  .monthlyColumnTitles{
    border: solid 2px;
    font-size: 8px;
    margin: 0;
    margin-left: 3px;
    padding: 0;
    white-space: pre;
    width: 390px;
  }

  .monthlyColumnTitlePlanned{
    font-size: 12px;
    margin: 0;
    padding-left: 115px;
    padding-right: 0;
    white-space: pre;
  }

  .monthlyColumnTitleActual{
    font-size: 12px;
    white-space: pre;
    padding-left: 0;
    padding-right: 0;
  }

  .helpButton{
    background: thistle;
    border: solid 1px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bolder;
    height: 15px;
    padding-top: 2px;
    width: 50px;
  }
}
