*{
  box-sizing: border-box;
}

.userInfo{
  border: black solid 2px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.submitUser{
    height: 30px;
    width: 30px;
}

.hiddenButton{
  visibility: hidden;
}

.eachRecordContainer{
  height: auto;
  margin: 0;
}

.dailyTransPageSection{
  background-color: peachpuff;
  height: 700px;
  padding: 3px;
  margin: 0;
}

.monthlyPageSection{
  /*background-color: powderblue;
  height: 700px;
  padding: 3px;
  margin: 0;
  width: auto;*/
}

.loginPage{
  background-image: url("wallpaper.jpg");
  height: 700px;
  width: 100%;
}

.loginTitleSection{
  background-color: lightgrey;
  border: black solid 2px;
  display: inline-block;
  height: 100px;
  margin-left: 28%;
  margin-top: 10%;
  width: 525px;
}

.loginImage{
  display: inline-block;
  height: 95px;
  margin: 0;
  width: 100px;
}

.titleLogin{
  color: green;
  display: inline-block;
  font-size: 55px;
  height: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: top;
  width: 50%;
}

.loginButtonsSection{
  background-color: lightgrey;
  border: black solid 2px;
  display: inline-block;
  height: 200px;
  margin-left: 28%;
  width: 525px;
}

.loginLabel{
  margin-left: 43%;
  white-space: pre;
}

.userNameInput{
  font-size: 14px;
  height: 40px;
  margin-left: 12%;
  width: 200px;
}

.passwordInput{
  font-size: 14px;
  height: 40px;
  width: 200px;
}

.submitUser{
  background-color: lightgreen;
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  height: 40px;
  margin-left: 9%;
  margin-top: 20px;
  width: 150px;
}

.newUser{
  background-color: lightblue;
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  height: 40px;
  margin-left: 17%;
  margin-top: 20px;
  width: 150px;
}


.signOut{
  background-color: lightcyan;
  border: solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin-left: 2%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 638px;
}

.monthlySignOut{
  background-color: lightcyan;
  border: solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  float: left;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin-left: 12%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 300px;
}

.dailyTransButton{
  background-color: lightcyan;
  border: solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  float: left;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin-left: 12%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 300px;
}


.monthlyOptionsArea{
  height: 100px;
  margin-top: 20px;
  width: 400px;
}

.monthlyBudgetButton{
    background-color: lightcyan;
    border: solid 2px;
    border-radius: 6px;
    color: green;
    display: inline-block;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    margin-left: 2%;
    margin-top: 5px;
    padding-top: 0px;
    text-align: center;
    width: 638px;
}

.visibleButton{
  background-color: lightcyan;
  border: solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin-left: 2%;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  width: 638px;
}

.transactionTitleArea{
  height: 100px;
  margin-left: 2%;
  width: 701px;
}

.userTransName{
  background-color: lightcyan;
  border: black solid 2px;
  display: inline-block;
  font-size: 18px;
  height: 25px;
  margin: 0;
  padding-bottom:  10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 700px;
  white-space: pre;
}

.TransIndex{
  display: inline-block;
}

.hiddenTrans{
  display: inline-block;
  margin: 0;
  height: 0;
  visibility: hidden;
  width: 0;
}

.transDesc{
  background: lavender;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  height: 19px;
  margin: 0px;
  overflow:auto;
  padding-left: 2px;
  width: 450px;
}

.transAmount{
  background: lavender;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  height: auto;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  text-align: center;
  width: 50px;
}

.transDate{
  background: silver;
  border: solid black 1px;
  display: inline-block;
  font-size: 11px;
  font-weight: bolder;
  height: 19px;
  margin: 0px;
  margin-left: 2%;
  overflow: auto;
  padding-left: 5px;
  padding-top: 2px;
  width: 70px;
}

.transID{
  display: inline-block;
  font-size: 13px;
  height: auto;
  margin: 0;
  margin-left: 50px;
  margin-top: 5px;
  vertical-align: top;
  width: 100px;
}

.createTrans{
  background-color: lightcyan;
  border: solid 2px;
  border-radius: 6px;
  color: green;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin-left: 2%;
  margin-top: 5px;
  text-align: center;
  width: 638px;
}

.amountItem{
  border: solid 2px;
  border-radius: 6px;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  margin-left: 2%;
  margin-bottom: 10px;
  width: 100px;
}

.descriptionItem{
  border: solid 2px;
  border-radius: 6px;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  margin-bottom: 10px;
  width: 538px;
}

.transactionsTitle{
  background-color: lightcyan;
  border: solid 2px;
  color: green;
  font-size: 45px;
  font-weight: bolder;
  opacity: 0.8;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 4px;
  text-align: center;
  width: 700px;
}

.monthlyBox{
  background-color: powderblue;
  border: solid 2px;
  display: inline-block;
  height: auto;
  margin-left: 3%;
  padding-bottom: 10px;
  width: 400px;
}

.monthlyTitleArea{
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
  width: 360px;
}

.monthlyTitle{
  background-color: lightcyan;
  border: solid 2px;
  color: green;
  font-size: 45px;
  font-weight: bolder;
  opacity: 0.8;
  margin-bottom: 0px;
  margin-right: 0;
  margin-top: 20px;
  padding: 4px;
  text-align: center;
  width: 350px;
}

.userMonthlyName{
  background-color: lightcyan;
  border: black solid 2px;
  display: inline-block;
  font-size: 18px;
  height: 25px;
  margin: 0;
  padding-bottom:  10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 350px;
  white-space: pre;
}

.monthlyIncomeArea{
  display: inline-flex;
  height: 35px;
  margin: 0;
  margin-left: 20%;
  width: 250px;
}

.monthlyIncomeLink{
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.monthlyIncomeLabel{
    background-color: palegreen;
    border: solid 2px;
    display: inline;
    font-size: 18px;
    height: 30px;
    margin: 0;
    margin-top: 0px;
    padding: 4px;
    padding-left: 8px;
    width: 140px;
}

.monthlyIncomeInput{
    background-color: white;
    border: black solid 2px;
    color: black;
    font-size: 18px;
    height: 30px;
    margin: 0px;
    margin-top: 0px;
    padding-top: 4px;
    text-align: center;
    width: 102px;
  }

.monthyBillsRecordsArea{
  height: auto;
  padding-left: inherit;
  margin: 0;
  margin-left: 0;
  width: 500px;
}

.monthlyColumnTitles{
  border: solid 2px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  white-space: pre;
  width: 390px;
}

.monthlyInputsArea{
  display: inline-block;
  height: 41px;
  width: 770px;
}

.enterMonthlyBill{
  border: solid 2px;
  font-size: 18px;
  height: 40px;
  width: 197px;
}

.enterMonthlyPlannedAmount{
  border: solid 2px;
  font-size: 18px;
  height: 40px;
  width: 97px;
}

.enterMonthlyAmount{
  border: solid 2px;
  font-size: 18px;
  height: 40px;
  width: 97px;
}

.monthlyType{
  background: tan;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  height: 19px;
  margin: 0px;
  margin-left: 0px;
  overflow: auto;
  text-align: center;
  width: 70px;
}

.monthlyBillDesc{
  background: lavender;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  height: 19px;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  width: 220px;
}

.monthlyBillPlan{
  background: lavender;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  height: auto;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  text-align: center;
  width: 50px;
}

.monthlyBillActual{
  background: lavender;
  border: solid black 1px;
  display: inline-block;
  font-size: 15px;
  height: auto;
  margin: 0px;
  overflow: auto;
  padding-left: 2px;
  text-align: center;
  width: 50px;
}

.monthlyAddItemButton{
  background-color: lightgrey;
  border: solid 2px;
  border-radius: 6px;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  margin-left: 12%;
  width: 300px;
}

.showDailyTransPage{
  background-color: lightgrey;
  border: solid 2px;
  border-radius: 6px;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  margin-left: 12%;
  width: 300px;
}

.hideDailyTransPage{
  background-color: lightgrey;
  border: solid 2px;
  border-radius: 6px;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  margin-left: 12%;
  width: 300px;
}

.hideDailyTransPage_hidden{
  visibility: hidden;
}

.showDailyTransPage_hidden{
  visibility: hidden;
}

.monthlyDailyTransBox_hidden{
    visibility: hidden;
}

.monthlyDailyTransBox{
  background-color: peachpuff;
  border: solid 2px;
  display: inline-block;
  height: auto;
  padding-bottom: 10px;
  vertical-align: top;
  width: 810px;
}

.helpContainer{
  height: 17px;
  margin-bottom: 0;
  margin-top: 11px;
  vertical-align: bottom;
  width: 520px;
}

.helpButton{
  background: thistle;
  border: solid 1px;
  border-radius: 5px;
  float: right;
  font-size: 10px;
  font-weight: bolder;
  height: 15px;
  padding-top: 0px;
  text-align: center;
  margin: 0;
  width: 50px;
}
